body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vw;
    background-color: cadetblue;

}

.card {
    width: 800px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

 
#btn0, #btn1, #btn2, #btn3 {
    background-color: lightgray;
    font-size: 20px;
    color: black;
    border: 1px solid #1D3C6A;


}

.buttons {
    display: grid;
}

.btn-primary {
    width: 300px;
    padding: 10px;
}